### Load Packages

In [1]:
import pandas as pd
import numpy as np
import os
import warnings

warnings.simplefilter("ignore")

pd.options.mode.chained_assignment = None

### Import Excel Files

In [2]:
folder = r'C:\Users\mazhang\Documents\Jupyter Notebook\Semi-Monthly Closed Invoice\2022 Semi-Monthly Closed Invoice\2022 Semi-Monthly Report\Semi-Monthly Report Accessorial Qty Cost'
files = os.listdir(folder)

excel_list = []
for file in files:
    if file.endswith('.xlsx'):
        df = pd.read_excel(os.path.join(folder, file), sheet_name = None)
        excel_list.append(df)

### Combine Excel Files

In [3]:
df_combine = pd.DataFrame()

for excel in range(len(excel_list)):
    df_combine = df_combine.append(excel_list[excel]['Sheet1'])
    
    print(df_combine.shape)

(1443, 11)
(3421, 11)
(4900, 11)

In [4]:
df_combine

,Accounting_CustomerID,CustomerID,WISE Facility,Bill Pay Category,Bill To,Billing Period Start,DocNo,BillingCode,Item,Qty,Cost
0,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,materials & other charges-pallet charge grade b,Grade B Pallet,382.0,5634.50
1,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,materials & other charges-stretch wrap,Stretch Wrap,382.0,1719.00
2,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,pallet label,Label,382.0,114.60
3,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,ucc label,Label,8512.0,2553.60
4,NOBHOU0001,NOBHOU0001,Alessandro,ACCESSORIAL,NOBLE HOUSE FURNITURE,Jan,19048946,grade b pallets,Grade B Pallet,147.0,2168.25
...,...,...,...,...,...,...,...,...,...,...,...
1474,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19053345,plastic strapping,Plastic Strap,356.0,1246.00
1475,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19053345,stretch wrap,Stretch Wrap,356.0,1424.00
1476,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19054951,labels,Label,390.0,117.00
1477,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19054951,plastic strapping,Plastic Strap,390.0,1365.00
1478,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19054951,stretch wrap,Stretch Wrap,390.0,1560.00

In [5]:
df_combine = df_combine.sort_values(['WISE Facility', 'Accounting_CustomerID', 'CustomerID'])
df_combine['WISE Facility'] = df_combine['WISE Facility'].str.title()
df_combine['Bill To'] = df_combine['Bill To'].str.upper()
df_combine

,Accounting_CustomerID,CustomerID,WISE Facility,Bill Pay Category,Bill To,Billing Period Start,DocNo,BillingCode,Item,Qty,Cost
0,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,materials & other charges-pallet charge grade b,Grade B Pallet,382.0,5634.5
1,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,materials & other charges-stretch wrap,Stretch Wrap,382.0,1719.0
2,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,pallet label,Label,382.0,114.6
3,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Jan,19049858,ucc label,Label,8512.0,2553.6
0,MIDAME0001,MIDAME0001,Alessandro,ACCESSORIAL,MIDEA AMERICA CORP,Feb,19050878,materials & other charges-pallet charge grade b,Grade B Pallet,1466.0,21623.5
...,...,...,...,...,...,...,...,...,...,...,...
1474,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19053345,plastic strapping,Plastic Strap,356.0,1246.0
1475,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19053345,stretch wrap,Stretch Wrap,356.0,1424.0
1476,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19054951,labels,Label,390.0,117.0
1477,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19054951,plastic strapping,Plastic Strap,390.0,1365.0
1478,OUTER0001,OUTER0001,Willow,ACCESSORIAL,"OUTER, INC.",Mar,19054951,stretch wrap,Stretch Wrap,390.0,1560.0

In [6]:
df_combine.to_excel("2022 Accessorial Items Cost.xlsx", index = False, header = True)